[submodule "fpga/spinal/tools/crypto"]
	path = fpga/spinal/tools/crypto
	url = git@github.com:SpinalHDL/SpinalCrypto.git
[submodule "fpga/spinal/tools/sigmadelta"]
	path = fpga/spinal/tools/sigmadelta
	url = git@gitee.com:thubcc/zlib.git
