
NET "FPGA_LED" IOSTANDARD = LVCMOS33 | LOC = F1;

## below is clock_in for FPGA 
NET "RF215_CLKO" IOSTANDARD = LVCMOS33 | LOC = A9;
##

NET "RMII_CLK" IOSTANDARD = LVCMOS33 | LOC = H14;
NET "RMII0" IOSTANDARD = LVCMOS33 | LOC = J16;
NET "RMII1" IOSTANDARD = LVCMOS33 | LOC = J14;
NET "RMIIV" IOSTANDARD = LVCMOS33 | LOC = H15;
NET "RMII_RXER_SDIO_D0" IOSTANDARD = LVCMOS33 | LOC = H16;
NET "RMII_TXD0" IOSTANDARD = LVCMOS33 | LOC = J13;
NET "RMII_TXD1" IOSTANDARD = LVCMOS33 | LOC = J12;
NET "RMII_TXEN" IOSTANDARD = LVCMOS33 | LOC = H13;

PIN "PLL_2_1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;