
NET "FPGA_LED" IOSTANDARD = LVCMOS33 | LOC = F1;

## below is clock_in for FPGA 
NET "RF215_CLKO" IOSTANDARD = LVCMOS33 | LOC = A9;

NET "RMII_CLK" IOSTANDARD = LVCMOS33 | LOC = H14;
NET "RMII0" IOSTANDARD = LVCMOS33 | LOC = J16;
NET "RMII1" IOSTANDARD = LVCMOS33 | LOC = J14;
NET "RMIIV" IOSTANDARD = LVCMOS33 | LOC = H15;
NET "RMII_RXER_SDIO_D0" IOSTANDARD = LVCMOS33 | LOC = H16;
NET "RMII_TXD0" IOSTANDARD = LVCMOS33 | LOC = J13;
NET "RMII_TXD1" IOSTANDARD = LVCMOS33 | LOC = J12;
NET "RMII_TXEN" IOSTANDARD = LVCMOS33 | LOC = H13;

## the below section is for ultrasonic FE 
# NET "RXD3"  IOSTANDARD = LVCMOS33 | LOC = T5;
# NET "RXD9"  IOSTANDARD = LVCMOS33 | LOC = R1;
NET "FE_RXCLK" IOSTANDARD = LVCMOS33 | LOC = T3;
NET "FE_TXD1"  IOSTANDARD = LVCMOS33 | LOC = P8;
# NET "RXD8"  IOSTANDARD = LVCMOS33 | LOC = P1;
NET "FE_TXD2"  IOSTANDARD = LVCMOS33 | LOC = N5;
# NET "RXD5"  IOSTANDARD = LVCMOS33 | LOC = N8;
# NET "RXD6" IOSTANDARD = LVCMOS33 | LOC = R2;
# NET "RXD7"  IOSTANDARD = LVCMOS33 | LOC = N4;
# NET "RXD4"  IOSTANDARD = LVCMOS33 | LOC = R5;
NET "FE_RXD1"  IOSTANDARD = LVCMOS33 | LOC = T8;
NET "FE_TXD3"  IOSTANDARD = LVCMOS33 | LOC = P9;
NET "FE_TXD4"  IOSTANDARD = LVCMOS33 | LOC = N6;
# NET "RXD2"  IOSTANDARD = LVCMOS33 | LOC = P5;

PIN "PLL_IP_1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "RMII_TXD0_SDIO_CMD_BUFGP/BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "RMII_TXD1_SDIO_CLK_BUFGP/BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "PLL_IP_1/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
