NET "FPGA_LED" IOSTANDARD = LVCMOS33 | LOC = F1;

## below is clock_in for FPGA 
NET "RF215_CLKO" IOSTANDARD = LVCMOS33 | LOC = A9;
##
## 4 lines below is SPI to AT86RF215
#NET "RF215_MISO" IOSTANDARD = LVCMOS33 | LOC = A8;
#NET "RF215_MOSI" IOSTANDARD = LVCMOS33 | LOC = B8;
#NET "RF215_SCLK" IOSTANDARD = LVCMOS33 | LOC = D8;
#NET "RF215A_SELN" IOSTANDARD = LVCMOS33 | LOC = C8;
###
#NET "RF215A_FEA09" IOSTANDARD = LVCMOS33 | LOC = F2;
###   input, from RF215(RF215A_FEA09) to ARM(RK_GPIO0)
#NET "RF215A_FEB09" IOSTANDARD = LVCMOS33 | LOC = F3;
###   input, from RF215(RF215A_FEB09) to ARM(RK_GPIO1)
#
#NET "RF215A_FEA24" IOSTANDARD = LVCMOS33 | LOC = D5;
###   input, from RF215(RF215A_FEA24) to ARM(RK_GPIO2)
#NET "RF215A_FEB24" IOSTANDARD = LVCMOS33 | LOC = C5;
###   input, from RF215(RF215A_FEB24) to ARM(RK_GPIO3)
#
#NET "RF215A_IRQ" IOSTANDARD = LVCMOS33 | LOC = E6;
###   input, from RF215(RF215A_IRQ) to ARM(RK_GPIO4)
#NET "RF215A_RSTn" IOSTANDARD = LVCMOS33 | LOC = E4;
###   output, from ARM(RK_GPIO5) to RF215(RF215A_RSTn)
###
### NET "RF215A_RX24D_N" IOSTANDARD = LVDS_33 | LOC = A13;
### NET "RF215A_RX24D_P" IOSTANDARD = LVDS_33 | LOC = C13;
#NET "RF215A_RX09D_N" IOSTANDARD = LVDS_33 | LOC = A10;
#NET "RF215A_RX09D_P" IOSTANDARD = LVDS_33 | LOC = B10;
#NET "RF215A_RX09D_N" DIFF_TERM = "<TRUE>";
#NET "RF215A_RX09D_P" DIFF_TERM = "<TRUE>";
#NET "RF215A_RXCLK_N" IOSTANDARD = LVDS_33 | LOC = C10;
#NET "RF215A_RXCLK_P" IOSTANDARD = LVDS_33 | LOC = E10;
#NET "RF215A_RXCLK_N" DIFF_TERM = "<TRUE>";
#NET "RF215A_RXCLK_P" DIFF_TERM = "<TRUE>";
#NET "RF215A_TXCLK_N" IOSTANDARD = LVDS_33 | LOC = A5;
#NET "RF215A_TXCLK_P" IOSTANDARD = LVDS_33 | LOC = B5;
#NET "RF215A_TXD_N" IOSTANDARD = LVDS_33 | LOC = A7;
#NET "RF215A_TXD_P" IOSTANDARD = LVDS_33 | LOC = C7;

## NET "RF_EN" IOSTANDARD = LVCMOS33 | LOC = T5;
## NET "RF_GPS_EN" IOSTANDARD = LVCMOS33 | LOC = R1;
## NET "RF_LO_CS" IOSTANDARD = LVCMOS33 | LOC = T3;
## NET "RF_LO_LD" IOSTANDARD = LVCMOS33 | LOC = P8;
## NET "RF_PPS_IN" IOSTANDARD = LVCMOS33 | LOC = P1;
## NET "RF_RXEN" IOSTANDARD = LVCMOS33 | LOC = N5;
## NET "RF_SCLK" IOSTANDARD = LVCMOS33 | LOC = N8;
## NET "RF_SDI" IOSTANDARD = LVCMOS33 | LOC = R2;
## NET "RF_SDO" IOSTANDARD = LVCMOS33 | LOC = N4;
## NET "RF_SX_CS" IOSTANDARD = LVCMOS33 | LOC = R5;
## NET "RF_SX_RESET" IOSTANDARD = LVCMOS33 | LOC = T8;
## NET "RF_SX_RXEN" IOSTANDARD = LVCMOS33 | LOC = P9;
## NET "RF_SX_TXEN" IOSTANDARD = LVCMOS33 | LOC = N6;
## NET "RF_TXEN" IOSTANDARD = LVCMOS33 | LOC = P5;
##
#NET "RK_GPIO0" IOSTANDARD = LVCMOS33 | LOC = F13;
###   output, from RF215(RF215A_FEA09) to ARM(RK_GPIO0)
#NET "RK_GPIO1" IOSTANDARD = LVCMOS33 | LOC = F12;
###   output, from RF215(RF215A_FEB09) to ARM(RK_GPIO1)
#
#NET "RK_GPIO2" IOSTANDARD = LVCMOS33 | LOC = B14;
###   output, from RF215(RF215A_FEA24) to ARM(RK_GPIO2)
#NET "RK_GPIO3" IOSTANDARD = LVCMOS33 | LOC = A14;
###   output, from RF215(RF215A_FEB24) to ARM(RK_GPIO3)
#
#NET "RK_GPIO4" IOSTANDARD = LVCMOS33 | LOC = E11;
###   output, from RF215(RF215A_IRQ) to ARM(RK_GPIO4)
#NET "RK_GPIO5" IOSTANDARD = LVCMOS33 | LOC = C11;
##   input, from ARM(RK_GPIO5) to RF215(RF215A_RSTn)

## NET "RK_GPIO6" IOSTANDARD = LVCMOS33 | LOC = A12;
## NET "RK_GPIO7" IOSTANDARD = LVCMOS33 | LOC = A11;
## NET "RK_I2C_SCL" IOSTANDARD = LVCMOS33 | LOC = L14;
## NET "RK_I2C_SDA" IOSTANDARD = LVCMOS33 | LOC = L16;
##
## 4 lines below is SPI from ARM

#NET "RK_SPI_CLK" IOSTANDARD = LVCMOS33 | LOC = F9;
#NET "RK_SPI_CS" IOSTANDARD = LVCMOS33 | LOC = F10;
#NET "RK_SPI_MISO" IOSTANDARD = LVCMOS33 | LOC = D9;
#NET "RK_SPI_MOSI" IOSTANDARD = LVCMOS33 | LOC = C9;

## NET "RK_UART1_RX" IOSTANDARD = LVCMOS33 | LOC = M16;
## NET "RK_UART1_TX" IOSTANDARD = LVCMOS33 | LOC = N16;
## NET "RK_UART2_RX" IOSTANDARD = LVCMOS33 | LOC = L13;
## NET "RK_UART2_TX" IOSTANDARD = LVCMOS33 | LOC = L12;
## NET "RK_UART3_RX" IOSTANDARD = LVCMOS33 | LOC = T14;
## NET "RK_UART3_TX" IOSTANDARD = LVCMOS33 | LOC = T13;
## NET "RK_UART4_RX" IOSTANDARD = LVCMOS33 | LOC = E16;
## NET "RK_UART4_TX" IOSTANDARD = LVCMOS33 | LOC = E15;

NET "RMII_CLK" IOSTANDARD = LVCMOS33 | LOC = H14;
NET "RMII_RXD0_SDIO_D2" IOSTANDARD = LVCMOS33 | LOC = J16;
NET "RMII_RXD1_SDIO_D3" IOSTANDARD = LVCMOS33 | LOC = J14;
NET "RMII_RXDV_SDIO_D1" IOSTANDARD = LVCMOS33 | LOC = H15;
NET "RMII_RXER_SDIO_D0" IOSTANDARD = LVCMOS33 | LOC = H16;
NET "RMII_TXD0_SDIO_CMD" IOSTANDARD = LVCMOS33 | LOC = J13;
NET "RMII_TXD1_SDIO_CLK" IOSTANDARD = LVCMOS33 | LOC = J12;
NET "RMII_TXEN" IOSTANDARD = LVCMOS33 | LOC = H13;

PIN "PLL_IP1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "RMII_TXD0_SDIO_CMD_BUFGP/BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "RMII_TXD1_SDIO_CLK_BUFGP/BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "PLL_IP1/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "PLL_IP1/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE; 
